body{
        font-family: sans-serif;
    }
    
    #shape{
        width: 200px;
        height: 200px;
        background-color: rebeccapurple;
        display: none;
        position: relative;
        
    }
    .bold{
        font-weight:bold;
    }